html{
	padding:0;
	margin:0;

}
body {
    padding:0;
    /*this part is to center the body element*/
    margin-left:auto;
    margin-right:auto;
    min-width:450px;
    /*this part is to center the body element*/
    /*Defining a max width will stop the body from expanding more than 960px*/
    max-width:960px;
    margin-top: 0;
    margin-bottom: 0;
    /*gray-ish background color for the body element*/
    background-color:#C7C1C1;
    /*this rule will apply to all text in the body */
    font-family: "Palatino Linotype";
}
p{
	padding-left:5px;
}
h1,h2,h3{
	color: #9F9A9A;
	font-family: "Lucida Sans Unicode";
}
/*this class will define the style for the bullet point boxes on the left side of the 2nd,3rd,4th  headers*/
.box12{
	background-image:url("https://internal.cs.ncl.ac.uk/modules/2013-14/csc8004/flags/css/12-dkgrey.png");
	width: 12px;
	height: 12px;
	float:left;
	top:8px;
	position:relative;
	margin-right:8px;
	margin-left:8px;
}
/*this class will define the style  for the bullet point boxes on the left side of the 5th  header */
.box2012{
	background-image:url("https://internal.cs.ncl.ac.uk/modules/2013-14/csc8004/flags/css/20x12-dkgrey.png");
	width: 20px;
	height: 12px;
	float:left;
	background-position:bottom;
	top:8px;
	position:relative;
	margin-right:8px;
	margin-left:8px;
}
/*this class will define the style for the bullet point boxes on the left side of the 6th,7th  headers*/
.box208{
	background-image:url("https://internal.cs.ncl.ac.uk/modules/2013-14/csc8004/flags/css/20x8-dkgrey.png");
	width: 20px;
	height: 8px;
	float:left;
	background-position:bottom;
	top:8px;
	position:relative;
	margin-right:8px;
	margin-left:8px;
}
/*this class is used for giving the div that ecompasses all elements a white background*/
#content{
	 background-color:#FFFFFF;
	 min-height: 100%;
	 min-width:450px;
    /*this part is to center the body element*/
    /*Defining a max width will stop the content div from expanding more than 960px*/
     max-width:960px;
	 margin-left:5px;
	 margin-right:5px;
	 float: left;
	 /*i added overflow hidden to cut off the part of the  dropdown list that extends outside the content div */
	 overflow:hidden;
}
#navbar {
	/*moves the bar to the top of the screen*/
	bottom:155px;
    float:right;
    background-color: #5D2C2C;
    position: relative;
	min-width:100%;
	padding:0;
	
}
#navbar li {
	/*this will cause the elements of the list to have horzintal order rather than the normal vertical order of lists*/
    float:left;
    padding-right:5px;
    padding-left:5px;
    list-style:none;
}

#navbar li a {
	/*CHANGE THE COLOR OF THE links text and text decoration*/
		color: #C7C1C1;
		text-decoration: none;
}
.menu{
	/*move the menu to the right side of the its #navbar element*/
	float:right;
	margin:0;
	padding:5px;
}
/*hide the sublist of the last element of the menu*/
#hideMenu{
	position:absolute;
	display: none;
	background-color: #5D2C2C;
	top:32px;
	padding:0px 62px 0px 0px;
}

#hideMenu li{
	float: none;
	text-align: left;
	/*this was used to avoid the text wrapping*/
	white-space: nowrap;
	
}

/*when user hovers on the sub element which is the parent of the hidden list, the hidden menu appears by changing it's 
it's display value to block*/
#sub:hover + #hideMenu{
	display: block;
}


/*this div contains the h1 tag that has the word "Flags" in it and the image of flags attached on astring to the right of it  */
#FirstBlock{
	display:block;
	/*this part is for creating a #5D2C2C colored border*/
    border-bottom:solid 20px #5D2C2C;
    float:left;
    min-width: 100%;
    /*margin top was set so that the  navigation bar does not  cover it  */
    margin-top:30px;
}
#FirstBlock h1{
	/*float was used to keep the style consistent and to avoid the h1 showing above the 
	navbar*/
	float:left;
	padding-left:20px;
}
/*a span to add the image of flags on the top of the screen beneath the menu*/
#flagsOnTop{
	background-image:url("https://internal.cs.ncl.ac.uk/modules/2013-14/csc8004/flags/css/flags.png");
	background-repeat: no-repeat;
	width: 290px;
	height: 100px;
	float:right;
}

/*give all hr elements a color and padding*/
hr{
    border-color:#5D2C2C;
    padding:10px;
    background-color:#5D2C2C;
    
}


#videobox {
	display:block;
    float:right;
    /*the padding was used to adjust the object element in the videobox Div and to let appear as if 
    it's in the box*/
    padding-top:15px;
    background-image:url("https://internal.cs.ncl.ac.uk/modules/2013-14/csc8004/flags/css/460x320-box.png");
	background-repeat: no-repeat;
	width: 460px;
	height: 320px;
	/*text-align was used to force the object element and the text beneath it to show up in the center
	of the video box div*/
	text-align:center;
	margin-right:8px;
    
}


#maritime{
	padding-bottom: 20px;
}
#letters{
	/*the top border will have a reddish bar that will be viewed as on the hr dividers*/
   border-top:solid 20px #5D2C2C;
   margin-top:10px;
   float:left;
  
}

#letters p{
    float:left;
    padding:10px;
    /*This will give the make the text all capitals butthe first letter in each word will have a bigger size */
     font-variant:small-caps;
    font-weight:bold;
}



#numbers{
    display:block;
    /*the top border will have a reddish bar that will be viewed as on the hr dividers*/
     border-top:solid 20px #5D2C2C;
      float:left;
}
#numbers img{
	padding-right:10px;
}
#numbers p{
   float:left;
    /*This will give the make the text all capitals butthe first letter in each word will have a bigger size */
    font-variant:small-caps;
    font-weight:bold;
    
}

#footer{
    float:left;
    min-width:100%;

}
/*float for this div so the national div   can encompass the national flag image which also has a float property*/
#national{
	float: left;	
}
/*move text to the left side of parent div to make space for the image to fit on hte right side*/
#nationalText{
	display: inline;
	float: left;
	width: 52%;
}

/*image for national flags section*/
#nationalFlags{
	background-image:url("https://internal.cs.ncl.ac.uk/modules/2013-14/csc8004/flags/css/3-flags75.png");
	background-repeat: no-repeat;
	width: 415px;
	height: 200px;
	float:right;
	display: inline-block;
	
}

/*photobadge background image*/
#photobadge{
	background-image:url("https://internal.cs.ncl.ac.uk/modules/2013-14/csc8004/flags/css/420x370-box.png");
	background-repeat: no-repeat;
	width: 420px;
	height: 370px;
	background-position:left top;
	float:right;
	/*background image was getting cut off from the right and top side so adding paddings to top and left solved the issue*/
	padding-left:20px;
	padding-top:20px;
	margin-left:19px;

}
/*this is part of solving the background image getting cut off*/
.flickrImage {
   margin: 0;
   padding: 0;
}

/*this is to move the text at the end to the right*/
#referenceText{
	float:right;
}


